/*  
Estilos propios creado por Josue Bohorquez 
------------------------------------------------
*/
/*  table */

th{
	text-transform: uppercase;
}

/*  textos */

.table-nothing{
	font-weight: 600;	
	color: #dd4b39;
	margin-top: 2em;
}

/*  panel */

.panel-questionnaire{
	padding: 5em 2em;
}
.title-panel{
	margin: 0px 0px 50px 20px;	
	text-transform: capitalize;
	text-shadow: 1px 1px #ccc;
	font-weight: 700;
}

/*  botones */
.group-btn{
	margin: 20px 30px;
}

.group-btn > a{
	margin: 0px 80px;
	padding: 10px 15px;
}